.chat {
  padding: 10px;
}

.chat__header {
  background-color: #fff;;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  border: 2px solid #000;
}

.chat__body {
  width: 510px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #fff;
  height: 375px;
  overflow: auto;
  scrollbar-width: none;
}

.chat__body::-webkit-scrollbar {
  display: none;
}

.chat__form-group {
  display: flex;
  border: 2px solid #fff;
}

.chat__form-group input {
  width: 100%;
  padding: 5px 15px;
  outline: none;
  border: none;
}

.chat__form-group input:focus {
  background-color: var(--ui-highlight);
}

.chat__button {
  background-color: var(--ui-body);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  cursor: pointer;
}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.message__content {
  display: flex;
  align-items: center;
  max-width: 400px;
  min-height: 40px;
  background-color: var(--color-others);
  margin-left: 5px;
  border-radius: 5px;
}

.message__content.user {
  background-color: var(--color-user);
}

.message__content.server {
  width: 100%;
  justify-content: center;
  background-color: var(--color-server);
  font-weight: bold;
}

.message__info {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding-right: 5px;
  align-self: flex-start;
  flex-direction: column;
  background-color: #fff;
  min-width: 10ch;
  min-height: 40px;
  padding: 5px;
}

.message__username {
  text-align: right;
  font-size: 15px;
}

.message__time {
  font-size: 10px;
  margin-left: 5px;
}

.message__text {
  max-width: 100%;
  word-wrap: break-word;
  padding: 5px;
}

/* Auto Scroll */
.message__container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.message__container::-webkit-scrollbar {
  display: none !important;
}

.message__scrollview::-webkit-scrollbar {
  display: none !important;
}

.message__follow-button {
  background-color: rgba(0, 0, 0, 0) !important;
  bottom: 0 !important;
  right: 0 !important;
  border-radius: 0 !important;
  width: 0 !important; 
  height: 0 !important; 
  border-left: 15px solid transparent !important;
  border-right: 15px solid transparent !important;
  border-top: 20px solid #fff !important;
}